<div class="row panel" style="background: white;">
<h1 class="n4" style="font-size: 40px;">Editing User</h1>
<%= link_to 'Back to Profile', user_path, class: "right success button" %>
<%= render 'form' %>



</div>
