	<div class="travork">
<div class="row">

<div class="column large-12 medium-12 small-12" style="padding-top: 75px;">
<n1>Travel Differently</n1>
</div>
<div class="column large-12 medium-12 small-12" style="padding-bottom: 75px;">
<n2>Define your life differently here.</n2>
</div>
</div>
<div class="row">
<div class="column large-4 medium-6 small-12">
<%= text_field_tag 'name', nil, placeholder: "What you want to do?"  %>
</div>
<div class="column large-4 medium-6 small-12">
<%= text_field_tag 'name', nil, placeholder: "Where you want to go?"  %>
</div>
<div class="column large-4 small-12">
<button class="medium button" style="margin-left: 10px"> Start your journey here! </button><br>
</div>
</div>
		</div>