/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.adjust-top {
  margin-top: 10px;
}

.logo {
	line-height: 2.8125rem;
    padding: 0 0.9375rem;
}
.top-bar {
	background: #3CC2A7;
}

.top-bar.expanded {
    height: auto;
    background: #3CC2A7; }
.top-bar.expanded .title-area {
      background: #3CC2A7; }

.top-bar-section ul li{
    background-color: #3CC2A7;
    color: #FFFFFF;
    background: #3CC2A7;
}

.top-bar-section ul li:hover:not(.has-form) > a {
    background-color: #009481;
    color: #FFFFFF;
    background: #009481;
    }

@media only screen and (min-width: 40.0625em) {
.top-bar-section li:not(.has-form) a:not(.button):not(.submit):not(.button-xs) {
    background: #3CC2A7;
    line-height: 2.8125rem;
    padding: 0 0.9375rem;
}
}

.top-bar-section li:not(.has-form) a:not(.button):not(.submit):not(.button-xs):hover {
    background-color: #009481;
    background: #009481;
}