/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*Desktop*/
/*General*/

 .travork {
  background-image:url(http://cdn.pcwallart.com/images/australia-mountain-scenery-wallpaper-3.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

n1 {
  font-family: 'Raleway';
  font-size: 100px;
  color: white;
  text-align: center;
}

n2 {
	font-family: 'Raleway';
  font-size: 40px;
  color: white;
  text-align: center;
}

@media only screen and (max-width: 600px) {
n1 {
  font-family: 'Raleway';
  font-size: 50px;
  color: white;
  text-align: center;
}

n2 {
  font-family: 'Raleway';
  font-size: 20px;
  color: white;
  text-align: center;
}
}

n3 {
  font-family: 'Raleway';
  font-size: 18px;
  color: black;
}

.n3 {
	font-family: 'Raleway';
  font-size: 30px;
  color: black;
}

.n4 {
	font-family: 'Raleway';
  font-size: 20px;
  color: #242424;
}

label {
    color: #4d4d4d;
    cursor: pointer;
    display: block;
    font-size: 20px;
    font-weight: normal;
    line-height: 0.5;
    margin-bottom: 0.2px;
}

.field {
	text-align: left;
	font-family: 'Raleway';
  font-size: 25px;
  color: #242424;
}
.adjust-top {
  margin-top: 10px;
}

.logo {
		line-height: 2.8125rem;
    padding: 0 0.9375rem;
}
.top-bar {
	background: #3CC2A7;
}

.top-bar.expanded {
    height: auto;
    background: #3CC2A7; }
.top-bar.expanded .title-area {
      background: #3CC2A7; }

.top-bar-section ul li{
    background-color: #3CC2A7;
    color: #FFFFFF;
    background: #3CC2A7;
}

.top-bar-section ul li:hover:not(.has-form) > a {
    background-color: #009481;
    color: #FFFFFF;
    background: #009481;
    }

@media only screen and (min-width: 40.0625em) {
.top-bar-section li:not(.has-form) a:not(.button):not(.submit):not(.button-xs) {
    background: #3CC2A7;
    line-height: 2.8125rem;
    padding: 0 0.9375rem;

}
}


.top-bar-section li:not(.has-form) a:not(.button):not(.submit):not(.button-xs):hover {
    background-color: #009481;
    background: #009481;
}

$facebook-color: #3b5998;
$twitter-color: #55acee;
$google-color: #d50f25;
$text-transform: uppercase;
$icon-size: 2rem;

.split.button {
  width: 100%;
  
  &.facebook {
    background: $facebook-color;
    text-transform: $text-transform;
    
    span {
      background: darken( $facebook-color, 10% );
      
      &:after { 
        border: none;
        font-family: "foundation-icons";
        content: "\f1c4";
        font-size: $icon-size;
        line-height: 0.25rem;
        margin-left: -0.7rem;
      }
    }
  }
  

  
  &.google {
    background: $google-color;
    text-transform: $text-transform;
    
    
    span {
      background: darken( $google-color, 10% );
      
      &:after { 
        border: none;
        font-family: "foundation-icons";
        content: "\f1ca";
        font-size: $icon-size;
        line-height: 0.25rem;
        margin-left: -0.7rem;
      }
    }
  }
  
  &.left-icon {
    text-align: right;
    span {
      left: 0;
    }
  }
}

#job_salary {
    margin-top:7px
}

/*Footer*/
.full-width {
  max-width: 1400px;
}

$text-color: #fff;

// footer CSS

.footer {
  background-color: #3CC2A7;
  padding: 2rem 4rem;
  text-align: center;
  color: $text-color;
  i {
    font-size: 30px;
  }
}

.footer {
  h4 {
    color: $text-color;
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 2.5rem;
    margin-bottom: 10px;
  }
  p, a {
    font-weight: 300; 
    font-size: .8em;
    color: $text-color;
  }
}

@media only screen and (min-width: 40.063em) {
.footer {
  .columns:nth-child(n+2) {
    border-left: 1px solid scale-color($text-color, $lightness: -30%);
    min-height: 280px;
  }
 }
}

.footer-links {
  list-style-type: none;
  li {
    margin-top: .5em;
  }
}
