<p>Please enter your personal info:</p>
<div class="mb1">
  <%= text_field_tag :fullname, "",placeholder: "Fullname", class: "radius" %>
</div>
<div class="mb1">
  <%= text_field_tag :email, "",placeholder: "Email", class: "radius" %>
</div>
<div class="mb1">
  <%= text_field_tag :contact, "",placeholder: "Contact", class: "radius" %>
</div>