<%# navigation styled for Zurb Foundation 5 %>
<div class="sticky">
	<nav class="top-bar" data-topbar >
	  <ul class="title-area">
	    <li style="background: #3CC2A7; "><a href="/"><img src="http://i.imgur.com/aOb0b7C.png" height="50" width="100" style="margin-left: 20px; margin-top: 12px;"></a></li>
	    <li class="toggle-topbar menu-icon" ><a href="#"  style="margin-top: 5px;"><span></span></a></li>
	  </ul>
	  <div class="top-bar-section">
	    <ul class="right">
	      <%= render 'layouts/navigation_links' %>
	    </ul>
	  </div>
	</nav>
</div>
